*{ // * refers every element and removes default margin  padding that comes with html elements body, h1 etc
    margin:0;
    padding:0;
    box-sizing: border-box; //element padding and border are included in the width and height
}

.canvas-container{
   height: 100vh; 
   text-align: center;
   background-color: #ffffff;
}
