{
    "usewhitelist" : true,
    "commonName": "Fully qualified domain name or ipaddress of your machine",
    "mpsport": 4433,
    "mpsusername": "standalone",
    "mpspass": "G@ppm0ym",
    "useglobalmpscredentials": true,
    "country": "US",
    "company": "NoCorp",
    "debug": true,
    "listenany": true,
    "https": true,
    "mpstlsoffload": false,
    "webport" : 3000,
    "generateCertificates": true,
    "loggeroff":false,
    "credentialspath": "../private/credentials.json",
    "orgspath": "../private/orgs.json",
    "guidspath": "../private/guids.json",
    "developermode": true,
    "webadminuser": "standalone",
    "webadminpassword": "G@ppm0ym",
    "mpsxapikey": "APIKEYFORMPS123!",
    "vaultaddress": "http://localhost:8200",
    "vaulttoken": "myroot",
    "usevault": true,
    "secretsPath": "secret/data/",
    "sessionEncryptionKey": "SessionKey123!"
}