{
    "8dad96cb-c3db-11e6-9c43-bc0000d20000": {
        "name" : "Win7-machine",
        "mpsuser": "standalone",
        "mpspass": "G@ppm0ym",
        "amtuser": "admin",
        "amtpass": "G@ppm0ym"
    },
    "bf49cf00-9164-11e4-952b-b8aeed7ec594" : {
        "name" : "Ubuntu-machine",
        "mpsuser": "xenial",
        "mpspass": "G@ppm0ym",
        "amtuser": "admin",
        "amtpass": "G@ppm0ym"
    }
}